# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


# --- Assignment 3 Task 2 Ignored Files ---

# Ignore the heavy ShapeNet dataset folder
Task2_PointNet/shapenet-core-seg/

# Ignore the utility scripts folder (optional, if you didn't write them yourself)
Task2_PointNet/lidar-od-scripts/

# Ignore checkpoints or model weights if they are generated later
Task2_PointNet/*.pth
Task2_PointNet/*.pkl